body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
}

form {
    margin: 20px 0;
}

#imageToCrop {
    max-width: 100%;
}

#imageCropperContainer {
    display: none;
    margin-top: 20px;
}

#imageGallery {
    margin-top: 20px;
}

#imageGallery img {
    max-width: 100px;
    margin: 5px;
}
